nav{
    margin-top: 2%;
    height: 48px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 100%;
}
.dropdown-button, .dropdown-content, .menu-item, .mobile-menu {
    cursor: pointer;
    font-weight: bold;
}
.dropdown-button img, .menu-item img{
    margin: 8px;
}
.dropdown-button, .menu-item, .mobile-menu {
    color: white;
    background-color: #55AA55;
    height: 100%;
    font-size: 16px;
    border: none;
    text-align: left;
}
.dropdown-menu, .menu-item, .mobile-menu{
    vertical-align: top;
    height: 48px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 16%;
}
.mobile-menu{
    display: none;
    width: 100%;
}
.dropdown-button{
    display: block;
    width: 100%;
    margin: 0;
}
.menu-item-text, .dropdown-arrow{
    position: absolute;
    top: 50%;
    width: fit-content;
}
.menu-item-text{
    left: 50%;
    transform: translate(-50%,-50%);
}
.dropdown-arrow{
    right: 16px;
    transform: translateY(-50%);
}
.dropdown-content {
    margin: 0;
    display: none;
    position: absolute;
    background-color: #555;
    width: 100%;
    z-index: 2;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
}
.dropdown-content a:hover, .dropdown-button:hover, .menu-item:hover, .mobile-menu {
    background-color: green;
}
.dropdown-menu:hover .dropdown-content { display: block; }
.empty{color: grey;}
.dropdown-content a.empty{color: grey;}