<div class="navbar">
    <div class="dropdown-menu">
        <a class="dropdown-button">
            <img src="/node-logo.png" width="28px"/>
            <span class="menu-item-text">Node.js</span>
            <span class="dropdown-arrow">&#9660;</span>
        </a>
        <div class="dropdown-content">
            <a href="/basics-of-nodejs">Basics of Node.js</a>
            <a href="/importing-exporting-modules">Importing & Exporting Modules</a>
            <a href="/file-system">File System</a>
            <a href="/npm-and-projects">
                <img src="/npm-logo.png" width="24px"/>
                NPM & Projects
            </a>
            <a href="/nodemon">
                <img src="/nodemon-logo.svg" width="12px"/>
                <span>Nodemon</span>
            </a>
            <a href="/use-environment-variables">Use Environment Variables</a>
            <a href="/cross-environment">Cross Environment</a>
        </div>
    </div>
    <div class="dropdown-menu">
        <a class="dropdown-button">
            <img src="/javascript-logo.svg" width="28px"/>
            <span class="menu-item-text">JavaScript</span>
            <span class="dropdown-arrow">&#9660;</span>
        </a>
        <div class="dropdown-content">
            <a href="/variable-declaration">Variable Declaration</a>
            <a href="/type-coercion">Type Coercion</a>
            <a href="/functional-iteration">Functional Iteration</a>
            <a href="/destructuring">Destructuring</a>
        </div>
    </div>
    <div class="dropdown-menu">
        <a class="dropdown-button">
            <span class="menu-item-text">Express</span>
            <span class="dropdown-arrow">&#9660;</span>
        </a>
        <div class="dropdown-content">
            <a href="/create-a-server">Create a Server</a>
            <a href="/create-a-route">Create a Route</a>
            <a href="/send-a-file">Send a File</a>
            <a href="/use-path-variable">Use Path Variable</a>
            <a href="/use-query-string">Use Query String</a>
            <a href="/use-request-body">Use Request Body</a>
            <a href="/server-side-rendering">Server Side Rendering</a>
            <a href="/router">Router</a>
            <a href="/server-side-redirection">Server Side Redirection</a>
        </div>
    </div>
    <a href="/REST-API" class="menu-item">
        <span class="menu-item-text">REST API</span>
    </a>
    <a href="/node-vs-browser" class="menu-item">
        <span class="menu-item-text">Node.js vs A Browser</span>
    </a>
</div>