@font-face {
    font-family: consolas;
    src: url("/consolas.ttf");
}
h1, h2, h3, p{
    margin-bottom: 0;
}
.code-header{
    font-family: consolas;
}
h1, ul, .page-title{
    margin-top: 0;
}
.page-title{
    display: inline-block;
    margin-left: 1%;
    vertical-align: bottom;
}