<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="/nodejs-logo.ico">
        <link rel="stylesheet" href="/global-style.css" type="text/css">
        <link rel="stylesheet" href="/components/header/header.css" type="text/css">
        <link rel="stylesheet" href="/components/navbar/navbar.css" type="text/css">
        %%STYLES%%
        <title>%%TITLE%%</title>
    </head>
    <body>
        %%HEADER%%
        <div class="page-content">
            %%CONTENT%%
        </div>
    </body>
</html>