.header-text{
    display: inline-block;
    vertical-align: top;
    width: fit-content;
    margin-left: 2%;
}
.title {
    display: inline;
}
.title-text{
    color: #55AA55;
    text-decoration: none;
    cursor: pointer;
}
#size{
    display: none;
}